---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import type { PokemonRes } from "./PokeType";

export const getStaticPaths = (async () => {
  const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=100");
  const data: PokemonRes = await res.json();

  return data.results.map((p) => ({
    params: { slugSSG: p.name },
    props: { ...p },
  }));
}) satisfies GetStaticPaths;

const { name, url } = Astro.props;
---

<BaseLayout>
  <h1>{name}</h1>
  <a href={url}>Learn more</a>
</BaseLayout>
