---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layout/BaseLayout.astro";
export const getStaticPaths = (() => {
  const pages = [
    {
      slug: undefined,
      name: "Products SSG",
      html: "<a href='/products-ssg/product-1'>See Item</a>",
    },
    {
      slug: "product-1",
      name: "Product 1 (SSG)",
      html: "<p>A cool product you simply couldn't understand</p>",
    },
  ];
  return pages.map(({ slug, name, html }) => ({
    params: { slug },
    props: { name, html },
  }));
}) satisfies GetStaticPaths;

const { name, html } = Astro.props;
---

<BaseLayout>
  <h1>{name}</h1>
  <Fragment set:html={html} />
</BaseLayout>
