---
// layout
import Layout from "@/layouts/Layout.astro";

// components
import Hero from "@/components/Hero.astro";
import Features from "@/components/home/Features.astro";
import Projects from "@/components/home/Projects.astro";
import Heading from "@/components/ui/Heading.astro";
---

<Layout>
  <Hero />
  <Features />
  <section aria-labelledby="recent-projects" class="container rows">
    <Heading tagName="h2" tagSize="h2" id="recent-projects">
      Recent Projects
    </Heading>
    <Projects limit={3} />
  </section>
</Layout>
