---
import PricingCard from "../components/PricingCard.astro";
import cards from "../data/cardData.json";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <section aria-label="Pricing">
      {cards.map((card) => <PricingCard cardData={card} />)}
    </section>
    <style>
      [aria-label="Pricing"] {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        align-items: flex-start;
      }
    </style>
  </body>
</html>
