---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const teamData = await getCollection("team");
const posts = await getCollection("posts");
const cats = await getCollection("cats");
const toml = await getCollection("toml");
const todos = await getCollection("todos");
---

<BaseLayout>
  <h1>Homepage</h1>
  {teamData.map((p) => <p>{p.data.todos}</p>)}
  <!-- <ul>
    {todos.map((t) => <li>{t.data.completed ? "Yes" : "No"}</li>)}
  </ul> -->
</BaseLayout>
