---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";

const posts = await getCollection("posts");
---

<BaseLayout>
  <h1>Blog Posts</h1>
  <ul role="list">
    {
      posts.map((post) => (
        <li>
          <a href={post.data.slug}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
