---
import Button from "../components/Button.astro";
import Counter from "../components/Counter";
import Heading from "../components/Heading.astro";

const headings = [
  {
    tag: "h1",
    size: "h2",
    text: "Heading 1",
  },
  {
    tag: "h2",
    size: "h5",
    text: "Heading 2",
  },
  {
    tag: "h4",
    size: "h1",
    text: "Heading 3",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Components</title>
  </head>
  <body>
    <!-- {
      headings.map((heading) => {
        return (
          <Heading tag={heading.tag} size={heading.size}>
            {heading.text.toLocaleUpperCase()}
          </Heading>
        );
      })
    } -->
    <Heading tag="h2" size="h3"> hi </Heading>
    <Button id="my-id2" aria-label="click me btn"> Click me </Button>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta
      temporibus, totam excepturi consequatur dolorem nam est eaque a placeat
      repellendus harum reprehenderit quam laudantium expedita. Fugiat ipsum
      explicabo voluptatibus voluptate.
    </p>
    <p>
      Incidunt voluptatum ipsam nulla, culpa non earum, ut voluptates
      repellendus dolore nemo labore nam laborum iste, corrupti aspernatur
      delectus quas ea! Laboriosam enim exercitationem id iure quam ex veniam
      omnis.
    </p>
    <p>
      Ipsum voluptatem reprehenderit tempore quaerat error impedit odit, minima
      soluta minus exercitationem ratione, non officia vitae eos architecto
      nihil aperiam sunt ipsam velit iure sint saepe accusantium ad harum!
      Magni?
    </p>
    <p>
      Ullam nulla deserunt fugiat sunt a nemo pariatur, non enim atque itaque
      quibusdam omnis vero doloribus eveniet doloremque odio corrupti
      consectetur vel dolorem aperiam commodi. Odit saepe a quasi delectus?
    </p>
    <p>
      Delectus tenetur ipsum commodi dicta culpa debitis doloremque numquam
      nihil? Iusto odio rerum, repellendus quae incidunt porro culpa, saepe
      labore nobis tempore modi blanditiis cum facilis! Quo eveniet nulla
      deleniti.
    </p>
    <p>
      Ducimus, omnis! Voluptate, eum rem sed velit aliquam repellendus quis
      aperiam, error natus fugit quidem? Cum ad maxime, quod dolor delectus modi
      autem molestiae id nam voluptates eligendi nihil suscipit.
    </p>
    <p>
      Vel possimus illo voluptatem inventore nobis facilis tempora velit
      perferendis atque ab optio dolorem ut quia rem, quod iste dolores aut
      quisquam quidem perspiciatis hic ipsa. Eaque quidem eum asperiores?
    </p>
    <p>
      Repellat dolorum quidem veritatis incidunt cum, pariatur ad, quo, totam
      modi tenetur neque laboriosam ipsum iure sapiente quasi ipsa sequi.
      Repellat aperiam nemo a, expedita nostrum hic! Rerum, est fuga!
    </p>
    <p>
      Maxime velit incidunt perspiciatis laboriosam fugiat error iure dolores
      fuga nostrum corporis sequi consequatur placeat ad ducimus, cupiditate
      soluta doloribus aperiam eum quam magni quidem molestiae quae, accusamus
      doloremque! Reprehenderit?
    </p>
    <p>
      Nisi at dolores optio saepe, tenetur repellat velit vero. Adipisci sit
      dolorum doloremque consequuntur, provident hic sint neque ipsum, ut quae
      odit possimus accusantium distinctio harum? Nobis, laborum? Deserunt,
      iste?
    </p>
    <p>
      Iusto provident, hic quasi, laborum odit deserunt esse tenetur ea omnis
      nostrum perspiciatis nesciunt corporis reiciendis magnam ratione ipsum ut
      fugit, dolorem illum. Harum eligendi nesciunt labore? Ipsa, accusamus
      suscipit?
    </p>
    <p>
      Blanditiis quam voluptatum dolor! Ea quaerat quod asperiores ducimus ab
      optio inventore dolor, magni quia unde! Non, repudiandae earum minus eum
      laborum officia dicta, dolorem natus sunt quasi placeat sed.
    </p>
    <p>
      Inventore vel, exercitationem enim dolorem perferendis hic obcaecati omnis
      quisquam culpa blanditiis minus possimus voluptatum? Voluptatem laboriosam
      quaerat, atque, reiciendis temporibus quis ipsa iusto, similique adipisci
      eaque odit quod sed.
    </p>
    <p>
      Laudantium natus doloremque, debitis sapiente dicta minima ducimus velit
      ad quis alias. Rerum voluptates consequatur necessitatibus doloremque ab.
      Recusandae explicabo corrupti iure? Nesciunt dolores iusto cumque et
      soluta. Voluptatem, quis.
    </p>
    <p>
      Obcaecati corrupti facilis quam sapiente perferendis, eos soluta, eveniet
      dolorem dolor non molestiae praesentium cumque alias deserunt sit tempora
      ducimus quasi voluptas repellat dolorum minus error repellendus mollitia.
      Totam, aspernatur.
    </p>
    <p>
      Libero maxime quidem soluta et facere consequatur quaerat iure animi
      cupiditate qui temporibus, aspernatur voluptas quo dolorum corrupti, saepe
      nihil dolor, itaque aperiam? Rerum quos quas sunt suscipit quae
      architecto.
    </p>
    <p>
      Nobis officia aliquid similique incidunt sit nostrum distinctio provident
      mollitia esse consequuntur. Libero facere nesciunt pariatur maiores
      repellat facilis iusto aliquam id blanditiis tempore, obcaecati eaque
      temporibus debitis recusandae quas.
    </p>
    <p>
      Cumque voluptates voluptatem tenetur atque perferendis magni omnis
      molestias, quidem, voluptas sit accusamus animi. Reiciendis aliquam
      sapiente officiis facere id maiores est unde! Voluptate commodi assumenda
      cumque ipsa neque beatae!
    </p>
    <p>
      Nisi quasi eveniet ratione suscipit itaque possimus, autem pariatur error
      natus recusandae ipsa veniam facere modi, odit necessitatibus atque
      temporibus minus fugiat totam et, repellat distinctio laudantium eos
      porro. Commodi?
    </p>
    <p>
      Dignissimos vero atque aspernatur accusamus veniam itaque eaque officiis
      facilis, nesciunt, maxime consectetur dolorum ut? Quae quis iste corporis
      obcaecati sint earum illo, ex dolore natus consequuntur enim
      necessitatibus modi?
    </p>
    <p>
      Ipsum sint quos voluptate eligendi itaque eius ipsam libero architecto
      facere asperiores consequuntur, cum quod! Quos voluptatibus numquam
      pariatur labore repellat officia beatae animi provident accusamus,
      doloribus natus quibusdam amet.
    </p>
    <p>
      Et, unde aliquid sed laborum dolorum repellat. Provident ab modi,
      molestiae iusto aliquid voluptatem asperiores qui delectus officiis
      laudantium eius quam minima eum magni. Voluptate beatae dicta eligendi
      officiis facilis?
    </p>
    <p>
      Hic veniam quasi quo maiores repellendus minus, placeat facilis non
      quibusdam commodi deleniti obcaecati ratione praesentium nulla sapiente
      laudantium perspiciatis natus possimus provident corrupti nemo eius vitae
      doloremque sunt. Sit.
    </p>
    <p>
      Excepturi, asperiores at. Ut culpa cumque saepe facere temporibus debitis
      maxime beatae dolores ducimus alias, perspiciatis dicta soluta itaque eius
      officiis, a maiores mollitia. Adipisci, enim culpa? Blanditiis, nobis
      quis!
    </p>
    <p>
      Omnis reiciendis fugiat ipsum quae fuga molestias labore id earum
      explicabo tenetur cupiditate accusamus, laudantium aperiam natus debitis
      hic aut dicta ipsa nobis? Ex excepturi, odit necessitatibus ipsa quidem
      commodi?
    </p>
    <p>
      Quod, iste dolorem explicabo recusandae saepe provident, et amet sunt
      deleniti optio molestiae eveniet fugit adipisci error. Voluptas doloremque
      error veritatis ex saepe ut ullam, at ab impedit nemo architecto?
    </p>
    <p>
      Perferendis delectus cum beatae doloribus neque animi facere architecto
      eveniet alias, exercitationem dolor minima suscipit quibusdam nostrum,
      obcaecati facilis. Mollitia doloremque perferendis quibusdam! Tempore
      veniam unde nulla sint, mollitia quas.
    </p>
    <p>
      A, molestiae. Neque laudantium distinctio vitae eligendi iusto amet
      delectus magni sint quo, architecto totam ullam debitis maxime tenetur
      esse dolore labore alias placeat eaque praesentium dolorum aspernatur quos
      molestias.
    </p>
    <p>
      Ad explicabo veritatis debitis eum cupiditate, quaerat tempore corrupti
      ut? Libero fuga, amet officia quasi possimus et corrupti iusto, nihil
      facere illo dolores repellendus nemo explicabo? Voluptatum provident optio
      minima!
    </p>
    <p>
      Libero consequatur architecto vitae harum earum, enim assumenda mollitia
      placeat et, tempore labore temporibus dolor aperiam soluta exercitationem.
      Quis suscipit aliquam a sit doloremque sunt ipsum nihil delectus
      repudiandae explicabo.
    </p>
    <Counter client:only="react" />
  </body>
  <style>
    @import "https://unpkg.com/open-props";
    @import "https://unpkg.com/open-props/normalize.min.css";
    body {
      display: grid;
      place-content: center;
      gap: 1.5rem;
      padding: 1.5rem;
    }
  </style>
</html>
