---
import { getCollection } from "astro:content";
import BaseLayout from "../layout/BaseLayout.astro";
import { getEntry } from "astro:content";

const posts = await getCollection("posts", ({ data }) => data.canonicalURL);

const author = await getEntry("team", posts[0].data.author.id);
---

<BaseLayout>
  <h1>Homepage</h1>
  <!-- {teamData.map((p) => <p>{p.data.name}</p>)} -->
  <ul>
    {
      posts.map((p) => (
        <li>
          {p.data.canonicalURL} by {author ? author.data.name : ""}
        </li>
      ))
    }
  </ul>
</BaseLayout>
