---
const { text, icon, isBordered, classList = "blue red", background = "var(--surface-2)", color = "#fff", ...rest } = Astro.props;
---

<button class:list={["btn", classList, {
  bordered: isBordered
}]} {...rest}>
  <slot />
</button>

  <script>
    document.querySelector(".btn").addEventListener("click", () => {
      alert("clicked");
    });
  </script>

<style define:vars={{
  background,
  color,
}}>
  .btn {
    font: inherit;
    max-width: fit-content;
    display: flex;
    gap: .25rem;
    align-items: center;
    cursor: pointer
    border: none;
    padding: .5rem 1.25rem;
    border-radius: .25rem;
    background: var(--background);
    color: var(--color);
  }
</style>
