---
// assets
import katie from "@/assets/avatar.jpeg";

// component
---

<section aria-label="Connect with Katie" id="connect">
  <div class="form-wrapper">
    <div><img src={katie.src} alt="Katie Haus" /></div>
    <!-- contact form -->
  </div>
</section>
