---
// asset
import katie from "@/assets/avatar.jpeg";

// components
import Heading from "./ui/Heading.astro";
import Link, { type LinkProps } from "./ui/Link.astro";

interface Link extends LinkProps {
  name: string;
}

// data
const links = [
  {
    href: "/katie-haus-cv.pdf",
    name: "Download CV",
    variant: "secondary",
  },
  {
    href: "#connect",
    name: "Let’s Connect",
    variant: "primary",
  },
] satisfies Link[];
---

<section aria-label="Hero section" class="hero">
  <img src={katie.src} alt="Katie Haus" />
  <Heading tagName="h1" tagSize="h2">👋 Hi, I’m Katie</Heading>
  <p>I’m a self-taught designer and developer obsessed with quality.</p>
  <div class="columns">
    {
      links.map((l) => (
        <Link href={l.href} variant={l.variant}>
          {l.name}
        </Link>
      ))
    }
  </div>
</section>
