---
// assets
import avatar from "@/assets/avatar.jpeg";

// component
import ContactForm from "./ContactForm";
---

<section aria-label="Connect with Me" id="connect">
  <div class="form-wrapper">
    <div><img src={avatar.src} alt="My Avatar" /></div>
    <ContactForm client:visible />
  </div>
</section>
