---
export const prerender = false;
import BaseLayout from "../../layout/BaseLayout.astro";

const pages = [
  {
    slug: undefined,
    name: "Products SSR",
    html: "<a href='/products-ssr/product-1'>See Item</a>",
  },
  {
    slug: "product-1",
    name: "Product 1 (SSR)",
    html: "<p>A cool product you simply couldn't understand</p>",
  },
];

const { slug } = Astro.params;

const page = pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");

const { name, html } = page;
---

<BaseLayout>
  <h1>{name}</h1>
  <Fragment set:html={html} />
</BaseLayout>
