---
// components
import BaseHead from "@/layouts/BaseHead.astro";

// styles
import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
